/* fundo de tela */
:root {
    --color-whiter: white;
    --color-gray: #f0f2f5;
    --color-gray:#dddfe2;
    --color-darck:#1d2129;
    --color-blue:#1b74e4;

  }
  
  /* Caixa de login */
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  /* display esquerdo de login */
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
  }
  
  /* display direito de login */
  .content-info {
    width: 600px;
  }
  
  .content-login {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .content-login-box {
    background-color: var(--color-whiter);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.1), 0px 8px 16px rgb(0, 0, 0, 0.1);
   
  }
  /* bordas*/
  .inpts{
    padding: 15px;
    height: 22px;
    border-radius: 6px;
    border: 1px solid var(--color-gray2);
    outline: none;
    width: 90%;
    font-size: 17px;
    color: var(--color-darck);
    
  }
  /*bordas*/
  .inputs:focus{
    border-color: var(--color-blue);
    box-shadow: 0 0 0 2px var(--color-gray2);

  }